@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ogg-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./Ogg-Regular.woff) format("woff");
  }
  @font-face {
    font-family: "Ogg-Bold";
    font-weight: 700;
    font-display: swap;
    src: url(./Ogg-Bold.woff) format("woff");
  }

  @font-face {
    font-family: "OggText-Light";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./OggText-Light.woff) format("woff");
  }
  @font-face {
    font-family: "OggText-Bold";
    font-weight: 700;
    font-display: swap;
    src: url(./OggText-Bold.woff) format("woff");
  }

  body {
     font-family: "OggText-Light", serif;
  }

  .logo {
    font-family: "OggText-Bold", serif;
  }

  svg {
    color: pink;
  }
  h2 {
    font-family: "OggText-Bold", serif;
  }
}
